---
export interface Props {
    title: string
    id: string
}
const { title, id } = Astro.props

import pages from "../data/pages.json"
---

<main
    class="header-main"
    data-header-main="true"
>
    <h1
        class="header"
        data-linked={id}
    >
        {title}
    </h1>
    <input
        type="checkbox"
        id="navbar-checkbox"
    />

    <div class="navbar-button">
        <!-- TODO: Refactor this, too complicated -->
        <label
            for="navbar-checkbox"
            class="navbar-background"
        >
            <div class="navbar-icon"></div>
        </label>
    </div>
    <nav class="navbar-body">
        <label
            for="navbar-checkbox"
            class="navbar-link navbar-close"
        >
            <span class="icon"></span>
            Close
        </label>
        {
            pages.main.map((page) => {
                return (
                    <a
                        href={page.href}
                        data-linked={page.id}
                        class={
                            page.id == id
                                ? "navbar-link navbar-link-current"
                                : "navbar-link"
                        }
                    >
                        <span class="icon">{page.icon}</span>
                        <span class="navbar-link-text">{page.name}</span>
                    </a>
                )
            })
        }
        <div class="navbar-body-separator"></div>
        {
            pages.branches.map((page) => {
                return (
                    <a
                        href={page.href}
                        data-linked={page.id}
                        class="navbar-link"
                    >
                        <span class="icon">{page.icon}</span>
                        <span class="navbar-link-text">{page.name}</span>
                    </a>
                )
            })
        }
    </nav>
</main>
<div class="spacer"></div>
<!-- can probably use pseudo elem here -->

<style>
    @import url("../styles/components/header.css");
</style>
